body {
    margin-left: 20px;
}


div.boks {
    width: 500px;
    background-color: darkgray;
    border: solid 2px black;
    margin-bottom: 10px;
}

div.overskrift {
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: solid 2px black;
    padding: 10px;
    user-select: none;
}

div.tekst {
    padding: 10px;

}

div.list {
    background-color: gray;
    border: thin black
}

div.thief {
    background-color: green;
}

div.mage {
    background-color: cornflowerblue;
}

div.warrior {
    background-color: crimson;
}

div.PUNCHCAT {
    background-color: gold;
}

div.spill {
    background-color: pink;
}

div.stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

div.signs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
}